<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Artista"> 
    </div>
</div>
<app-loading *ngIf="loading" class="m-3"></app-loading>


<app-tarjetas [items]="artistas"></app-tarjetas>